{{!
  Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

  WSO2 Inc. licenses this file to you under the Apache License,
  Version 2.0 (the "License"); you may not use this file except
  in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied. See the License for the
  specific language governing permissions and limitations
  under the License.
}}
<div class="col-lg-12  margin-top-double">
    <h1 class="grey ">Arduino</h1>
    <hr>
</div>

<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 padding-top">
    <img src="{{@unit.publicUri}}/images/ardunio-icon.png" class="img-responsive">
</div>

<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 padding-top">

</div>

<div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 padding-top">
    <h3 class="uppercase">What it Does</h3>
    <hr>
    <p class="grey margin-top">Connect the Arduino UNO board to Entgra IoT Server and visualize sensor data.</p>
    <br>
    <h3 class="uppercase">What You Need</h3>
    <hr>
    <ul class="list-unstyled">
        <li class="padding-top-double">
            <span class="badge">ITEM 01</span>
            Arduino UNO Board.
        </li>
        <li>
            <span class="badge">ITEM 02</span>
            Adafruit WiFi Shield for Arduino.
        </li>
        <li>
            <span class="badge">ITEM 03</span>
            A LED bulb connected to pin 13. If you do not have a LED bulb, use the one on the Arduino board. The one on the board is connected to pin 13 by default.
        </li>
        <li>
            <span class="badge">ITEM 04</span>
            Resister (e.g., 330 ohm)
        </li>
        <li>
            <span class="badge">STEP 05</span>
            Next, proceed to the [Prepare] section. (remove the step 5 coz that' is the only step all the others are items.)
    </ul>
    <br>
    <a href="/api-store/apis/info?name={{@uriParams.deviceType}}&version=1.0.0&provider=admin"
       class="btn-operations" target="_blank">
        <i class="fw fw-api add-margin-1x"></i> View API
    </a>
    <a href="#" class="download-link btn-operations">
        <i class="fw fw-download add-margin-1x"></i>Download Sketch
    </a>
    <p class="doc-link">Click <a href="https://entgra.atlassian.net/wiki/spaces/IoTS340/pages/28278828/Arduino"
                                 target="_blank">here</a> for latest instructions and
        troubleshooting.</p>
    <div id="download-device-modal-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7  center-container">
                    <h3>Name your device and download the agent from following link.</h3>
                    <br/>
                    <form id="downloadForm" method="GET"
                          action="{{@app.context}}/api/devices/sketch/download">
                        <div id="invalid-username-error-msg" class="alert alert-danger hidden"
                             role="alert">
                            <i class="icon fw fw-error"></i><span></span>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <input class="new-device-name" style="color:#3f3f3f;padding:5px"
                                       type="text"
                                       placeholder="Ex. Home_Arduino"
                                       name="deviceName" size="60" required>
                                <br/><br/>
                                <input type="hidden" class="deviceType" name="deviceType"
                                       value="{{@uriParams.deviceType}}"/>
                                <input type="hidden" class="sketchType" name="sketchType"
                                       value="{{@uriParams.deviceType}}"/>
                            </div>
                        </div>
                        <div class="buttons" style="padding-bottom: 0px">
                            <a class="btn btn-operations" onclick="downloadAgent()">
                                Download Now
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="device-agent-downloading-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Device Agent will downloading shortly.</h3>
                </div>
            </div>
        </div>
    </div>
    <div id="device-400-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Exception at backend. Try Later.</h3>
                    <div class="buttons">
                        <a href="#" id="device-400-link" class="btn-operations">
                            OK
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="device-401-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>You have to log in first.</h3><br/>
                    <div class="buttons">
                        <a href="#" id="device-401-link" class="blue-button">
                            Goto Login Page
                        </a>
                        <a href="#" onclick="hidePopup();" class="btn-operations">
                            Cancel
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="device-403-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Action not permitted.</h3><br/>
                    <div class="buttons">
                        <a href="#" id="device-403-link" class="btn-operations">
                            OK
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="device-409-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Device Sketch does not exist.</h3><br/>
                    <div class="buttons">
                        <a href="#" id="device-409-link" class="btn-operations">
                            OK
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="device-unexpected-error-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Unexpected error.</h3><br/>
                    <div class="buttons">
                        <a href="#" id="device-unexpected-error-link" class="btn-operations">
                            OK
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br/><br/>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-double grey-bg">
    <h3 class="uppercase">Prepare</h3>
    <hr>
    <ul class="list-unstyled">
        <li class="padding-top-double">
            <span class="badge">01</span>
            Mount the WiFi shield to the Arduino UNO board.
        </li>
        <li class="padding-top-double">
            <span class="badge">02</span>
            Connect the LED bulb to Arduino as shown below:
            <br/><br/>
            <a href="{{@unit.publicUri}}/images/schematicsGuide.jpg" target="_blank">
                <img src="{{@unit.publicUri}}/images/schematicsGuide.jpg" class="img-responsive">
            </a>
            <br/>
        </li>

        <li class="padding-top-double">
            <span class="badge">03</span>
            Click [Download Sketch] above to download the Arduino Sketch.
        </li>
        <li class="padding-top-double">
            <span class="badge">04</span>
            Unzip the downloaded Arduino agent.
        </li>
        <li class="padding-top-double">
            <span class="badge">05</span>
            Create a folder by the name ArduinoBoardSketch and move the downloaded agent and the source files to it.
        </li>
        <li class="padding-top-double">
            <span class="badge">06</span>
            Open the ArduinoBoardSketch.h file and provide the values for the
            <i>[WLAN_SSID]</i>,
            <i>[WLAN_PASS]</i>,
            <i>[SERVICE_PORT]</i>,
            <i>[server]</i> and
            <i>[deviceIP]</i>
            variables for the device to connect to your WiFi network.
        </li>
        <li class="padding-top-double">
            <span class="badge">07</span>
            Burn the sketch onto your Arduino board and let the program run.
        </li>
        <li class="padding-top-double">

            <span class="fw-stack margin-right">
                <i class="fw fw-circle-outline fw-stack-2x"></i>
                <i class="fw fw-right-arrow fw-stack-1x"></i>
            </span>
            The Arduino will publish its internal temperature to Entgra IoT Server.
            <br/><br/>

            <span class="fw-stack margin-right">
                <i class="fw fw-circle-outline fw-stack-2x"></i>
                <i class="fw fw-right-arrow fw-stack-1x"></i>
            </span>
            Control the LED on <i>PIN 13</i> via the Device Management page.
        </li>
    </ul>
    <br>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-double">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 padding-double">
            <h3 class="uppercase">Try Out</h3>
            <hr>
            <ul class="list-unstyled">
                <li class="padding-top-double">
                    <span class="badge">01</span>
                    View all your connected devices in the 
                    <a href="{{@app.context}}/devices">[Device Management]</a> page.
                </li>
                <li class="padding-top-double">
                    <span class="badge">02</span>
                    Try out the control operations on your connected devices and monitor real-time data.
                </li>
                <li class="padding-top-double">
                    <span class="badge">03</span>
                    Do we need this step? Is this supported?
                </li>
            </ul>
            <br/>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 padding-double">
            <p class="grey margin-top">Click on the image to zoom</p>
            <center>
                <a href="{{@unit.publicUri}}/images/myDevices_analytics.png" target="_blank">
                    <img src="{{@unit.publicUri}}/images/myDevices_analytics.png"
                         class="img-responsive">
                </a>
            </center>
        </div>
    </div>
</div>

<div id="arduino-statistic-response-template" style="display: none">
    <div class="content">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-centered">
                <h3>
                    <span class="fw-stack">
                        <i class="fw fw-circle-outline fw-stack-2x"></i>
                        <i id="status-icon" class="fw fw-error fw-stack-1x"></i>
                    </span>
                    <br>
                </h3>
                <h4>
                    <span id="title"></span>
                    <br>
                </h4>
                <span id="description"></span>
            </div>
        </div>
    </div>
</div>

{{#zone "topCss"}}
    {{css "css/styles.css"}}
{{/zone}}

{{#zone "bottomJs"}}
    {{js "/js/download.js"}}
    {{js "/js/jquery.validate.js"}}
    <script type="text/javascript">
        $(document).ready(function () {
            toggleEnrollment();
        });
        function toggleEnrollment() {
            $(".modalpopup-content").html($("#qr-code-modal").html());
            //generateQRCode(".modalpopup-content .qr-code");
            //showPopup();
        }
    </script>
{{/zone}}